.container
  %h3 Budget - total: #{number_to_currency budget.total} #{budget.cycle_length}
  = link_to 'edit', edit_budget_path(budget)

  %table.table
    %thead
      %th Name
      %th Budget
      %th Spent
      %th Available
    %tbody
      - budget.accounts.each do |account|
        %tr
          %td= link_to account.name, account
          %td= number_to_currency account.amount
          %td= number_to_currency account.current_cycle.spent
          %td= number_to_currency account.balance
        %tr.current_cycle
          %td{ colspan: 4 }= render 'accounts/cycle_graph', account_cycle: account.current_cycle
