.container
  %h3 Budget - total: #{number_to_currency budget.total} #{budget.cycle_length}
  = link_to 'edit', edit_budget_path(budget)

  %table.table
    %thead
      %th Name
      %th Amount
      %th Balance
      %th Spent this #{budget.cycle_length}
    %tbody
      - budget.accounts.each do |account|
        %tr
          %td= link_to account.name, account
          %td= account.amount
          %td= account.balance
          %td= account.current_spend.spent
