.container
  %h3 Budget - total: #{number_to_currency budget.total} #{budget.cycle_length}
  = link_to 'edit', edit_budget_path(budget)

  %table.table
    %thead
      %th Name
      %th Amount
      %th Balance
    %tbody
      - budget.buckets.each do |bucket|
        %tr
          %td= link_to bucket.name, bucket
          %td= bucket.amount
          %td= bucket.balance
