.container
  %h3 Budget - total: #{budget.total} #{budget.cycle_length}
  %p Current cycle from #{budget.current_cycle.first} to #{budget.current_cycle.last}
  %p #{budget.current_cycle_days_remaining} days remaining
  = link_to 'edit', edit_budget_path(budget)

  %table.table
    %thead
      %th Name
      %th Budget
      %th Spent
      %th Available
    %tbody
      %tr
        %th Total for budget
        %th= Money.new(budget.accounts.sum(:amount))
        %th= budget.expenses.where(effective_date: budget.current_cycle).sum(:amount)
        %th= Money.new(budget.accounts.sum(:balance))

      - budget.accounts.each do |account|
        %tr
          %td= link_to account.name, account
          %td= account.amount
          %td{ class: ('red' if account.current_cycle.spent > account.amount)}
            = account.current_cycle.spent
          %td{ class: ('red' if account.balance.negative?)}= account.balance
        %tr.current_cycle
          %td{ colspan: 4 }= render 'accounts/cycle_graph', account_cycle: account.current_cycle
