- account_report = Report::AccountReport.new(account)

.col-sm-6
  .account-stat.clearfix.gray{ style: 'position:relative' }
    .details
      .desc= account.name
      .number
        #{account_report.spend} out of #{account_report.balance}
    .visual
      .easy-pie-chart
        .number{ data: { percent: [account_report.spend_as_percent_of_balance, 100].min } }
          %span #{account_report.spend_as_percent_of_balance}%
    = link_to account, class: 'more' do
      View transactions
      %i.ion-arrow-right-c
