- bucket_report = Report::BucketReport.new(bucket)

.col-sm-6
  .bucket-stat.clearfix.gray{ style: 'position:relative' }
    .details
      .desc= bucket.name
      .number
        #{bucket_report.spend} out of #{bucket_report.balance}
    .visual
      .easy-pie-chart
        .number{ data: { percent: [bucket_report.spend_as_percent_of_balance, 100].min } }
          %span #{bucket_report.spend_as_percent_of_balance}%
    = link_to bucket, class: 'more' do
      View transactions
      %i.ion-arrow-right-c
