.container
  %h3 Budget - total: #{budget.total} #{budget.cycle_length}
  %p Current cycle from #{budget.current_cycle.first} to #{budget.current_cycle.last}
  %p #{budget.current_cycle_days_remaining} days remaining
  = link_to 'edit', edit_budget_path(budget)
