- content_for :page_title, 'Budget'

.container
  = render 'timeline', report: budget_report

  .margin-top-20

  .row
    .col-xs-6
      .easy-pie-chart
        .number{ data: { percent: [budget_report.spend_as_percent_of_on_track_spend, 100].min } }
          %span #{budget_report.spend_as_percent_of_on_track_spend}%
        .title
          Of on-track spend
          %i.m-icon-swapright
    .col-xs-6
      .easy-pie-chart
        .number{ data: { percent: [budget_report.spend_as_percent_of_budget, 100].min } }
          %span #{budget_report.spend_as_percent_of_budget}%
        .title
          Of budget total
          %i.m-icon-swapright

  .margin-top-20

  .row
    .col-md-4.col-sm-6
      .dashboard-stat{ class: budget_report.over_spent? ? 'red' : 'green'}
        .visual
          %i.ion-ios-pie-outline
        .details
          .number= budget_report.spend
          .desc Spent
        = link_to reconcile_accounts_path, class: 'more' do
          View unreconciled expenses
          %i.ion-arrow-right-c

    .col-md-4.col-sm-6
      .dashboard-stat.blue
        .visual
          %i.ion-ios-settings
        .details
          .number= budget.total
          .desc Budgeted
        = link_to edit_budget_path, class: 'more' do
          Manage budget
          %i.ion-arrow-right-c

    .col-md-4.col-sm-6
      .dashboard-stat.purple
        .visual
          %i.ion-ios-cart-outline
        .details
          .number= budget_report.balance
          .desc Available
        = link_to accounts_path, class: 'more' do
          View accounts
          %i.ion-arrow-right-c
