- content_for :page_title, 'Budget'

.budget-cycle-header
  %span.h1.pull-left This fortnight
  - unless budget_report.past?
    .timeline
      .progress
        .progress-bar.progress-bar-info{ style: "width: #{budget_report.percent_through_period}%" }
      .timeline-status.clearfix
        .status-title= formatted_date(budget_report.cycle_start_date)
        .status-number= formatted_date(budget_report.cycle_end_date)

.margin-top-20

.row
  .col-sm-4= render 'stat', number: budget_report.spend.dollars.to_i, unit: '$',
      label: 'Spent', progress_number: '55', progress_label: 'Percent of budget',
      icon_class: 'ion-ios-cart-outline'
  .col-sm-4= render 'stat', number: budget_report.balance.dollars.to_i, unit: '$',
      label: 'Available', progress_number: '55', progress_label: 'Progress',
      icon_class: 'ion-social-usd-outline'
  .col-sm-4= render 'stat', number: 27, unit: '',
      label: 'Unreconciled Transactions', progress_number: '98', progress_label: 'Reconciled this fortnight',
      icon_class: 'ion-ios-pricetags-outline'
