.container
  %h3 Reconcile
  %p= expense.description
  %p= expense.effective_date.strftime('%d/%m/%y')
  %p= expense.amount
  = simple_form_for reconciliation do |form|
    = form.hidden_field :expense_id, value: expense.id
    = form.input :account_id, as: :select, collection: Account.all
    = form.input :matching_pattern, input_html: { value: expense.description }
    = form.submit 'Reconcile!'
