.container
  %h3.bucket= bucket.name
  = link_to 'Edit', edit_bucket_path(bucket)
  = render 'transactions/form'

  %hr/

  %table.table
    %thead
      %th Date
      %th Description
      %th Amount
    %tbody
      - bucket.transactions.each do |transaction|
        %tr
          %td= transaction.effective_date
          %td= transaction.description
          %td= transaction.amount
