!!!
%html
  %head
    %title= content_for(:page_title) || 'Accountably'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oswald:400,700'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" }/
  %body
    .wrapper
      = render 'layouts/navbar'
      .container-fluid
        .page-content
          = render 'layouts/flash'
          = yield
