- content_for :page_title, "Edit #{account.name}"

.container
  %h3.account Editing #{account.name}
  = simple_form_for(account) do |form|
    = form.hidden_field :id, value: account.id
    = form.input :name
    = form.input :amount
    = form.input :balance
    = form.submit 'Save'
