- content_for :page_title, 'Accounts'

.container
  %table.table
    %thead
      %th Name
      %th Budget
      %th Spent
      %th Available
    %tbody
      %tr
        %th Total for budget
        %th= current_budget.total
        %th= budget_report.spend
        %th= budget_report.balance

      = render partial: 'account', collection: current_budget.accounts.uncategorised
      = render partial: 'account', collection: current_budget.accounts.categorised
