- reconciling = account.default?
- content_for :page_title, (reconciling ? 'Reconcile' : account.name)

.container
  - if reconciling
    %h3 Reconcile
  - else
    %h3.account #{account.name} #{account.balance} available
  - unless account.default
    = link_to 'Edit', edit_account_path(account)
    %hr
    %h4 New transaction
    = render 'transactions/form'
    %hr

  %table.table.table-striped.table-hover.account-transactions
    %thead
      %th Date
      %th.hidden-xs Source
      %th Description
      %th Amount
      %th
    %tbody
      - account.expenses.order(effective_date: :desc).each do |transaction|
        %tr
          %td= transaction.effective_date.strftime('%d/%m/%Y')
          %td.hidden-xs= transaction.source
          %td
            - description = transaction.description.truncate(45)
            - if transaction.account.default
              = link_to description, transaction
            - else
              = description
          %td= transaction.amount
          %td
            = link_to [:edit, transaction] do
              %i.ion-edit
