.container
  %h3.account #{account.name} #{number_to_currency(account.balance)} available
  = link_to 'Edit', edit_account_path(account)

  %hr
  %h4 New transaction
  = render 'transactions/form'

  %hr

  %table.table.account-transactions
    %thead
      %th Date
      %th Description
      %th Amount
      %th
    %tbody
      - account.transactions.each do |transaction|
        %tr
          %td= transaction.effective_date
          %td= transaction.description
          %td= transaction.amount
          %td
            = link_to edit_transaction_path(transaction) do
              %i.ion-edit
