.container
  %h3.account #{account.name} #{account.balance} available
  - unless account.default
    = link_to 'Edit', edit_account_path(account)
    %hr
    %h4 New transaction
    = render 'transactions/form'
    %hr

  %table.table.account-transactions
    %thead
      %th Date
      %th.hidden-xs Source
      %th Description
      %th Amount
      %th
    %tbody
      - account.transactions.each do |transaction|
        %tr
          %td= transaction.effective_date.strftime('%d/%m/%Y')
          %td.hidden-xs= transaction.source
          %td
            - if transaction.account.default
              = link_to transaction.description, new_reconciliation_path(expense_id: transaction)
            - else
              = transaction.description
          %td= transaction.amount
          %td
            = link_to [:edit, transaction] do
              %i.ion-edit
